<!DOCTYPE html>
<html>
<head>
    <title>Vote Data Query</title>
</head>
<body>
    <h1>Consultá como votó tu circuito.</h1>
    <h4>Ingresá una credencial para conocer el historial electoral del circuito al que pertenece, desde el año 2004 hasta el 2022, excluyendo votos en blanco y anulados. </h4>
    <form action="/result" method="post">
        Serie: <input type="text" name="ser"><br>
        Número: <input type="number" name="num"><br>
        <input type="submit" value="Submit">
    </form>
    <h4>Si tenés sugerencias: @guillelezama</h4>

</body>
</html>
